
/* Your CSS Code here. */
.movie-post{
	position:relative;
/* 	background-color:rgb(24,48,30); */
}
.moviePic{

	height:400px;
	width:250px;
	opacity:0.8;
}
.movieDetail{
	position:absolute;
	top:0;
	width:80%;
	texr-align:right;
	font-size:1.4rem;
}

